@page "/listadoTitulares"
@inject ListarTitularesUseCase ListarTitularesUseCase
@inject ListarVehiculosUseCase ListarVehiculosUseCase
@inject EliminarTitularUseCase EliminarTitularUseCase
@inject NavigationManager Navegador;
@inject IJSRuntime JsRuntime;


<DialogoConfirmacion @ref="dialogo" OnConfirmado="Eliminar" />

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>DNI</th>
            <th>Telefono</th>
            <th>Correo</th>
            <th>Dirección</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tit in _lista)
        {
            <tr>
                <td>@tit.Id</td>
                <td>@tit.Nombre</td>
                <td>@tit.Apellido</td>
                <td>@tit.DNI</td>
                <td>@tit.Telefono</td>
                <td>@tit.Correo</td>
                <td>@tit.Direccion</td>
                <td>
                    <ul>@foreach (var vehiculo in @tit.ListaDeVehiculos)
                        {
                            <li>@vehiculo.Id</li>
                        }
                    </ul>
                </td>
                <td>
                    <button class="btn btn-primary" @onclick="()=>ModificarTitular(tit)">
                        <span class="oi oi-pencil"></span>
                    </button>
                    <button class="btn btn-danger" @onclick="()=>ConfirmarEliminacion(tit)">
                        <span class="oi oi-trash"></span>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
@code {
    
    List<Titular> _lista = new List<Titular>();

    protected override void OnInitialized()
    {
        _lista = ListarTitularesUseCase.Ejecutar();
    }

    DialogoConfirmacion dialogo = null!;
    Titular? _titularParaEliminar = null;
    private void ConfirmarEliminacion(Titular titular)
    {
        try
        {
            _titularParaEliminar = titular;
            if (titular != null)
            {
                dialogo.Mensaje = $"¿Desea eliminar al titular {titular.Nombre} {titular.Apellido}?";
                dialogo.Mostrar();
            }
        }
        catch (Exception e)
        {
            dialogo.Mensaje = e.Message;
            dialogo.Mostrar();
        }
    }
    private void ModificarTitular(Titular titular)
    {
        Navegador.NavigateTo($"modificartitular/{titular.Id}");
        _lista = ListarTitularesUseCase.Ejecutar();
    }

    private void Eliminar()
    {
        if (_titularParaEliminar != null)
        {
            EliminarTitularUseCase.Ejecutar(_titularParaEliminar.Id);
            _lista = ListarTitularesUseCase.Ejecutar();
        }
    }

}